<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aokai.hospital.dao.ApplyMapper">
  <resultMap id="BaseResultMap" type="com.aokai.hospital.po.Apply">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
    <result column="workday_id" jdbcType="INTEGER" property="workdayId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="request" jdbcType="VARCHAR" property="request" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="apply_time" jdbcType="TIMESTAMP" property="applyTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, doctor_id AS doctorId, doctor_name AS doctorName, workday_id AS workdayId, reason, request, status, apply_time AS applyTime
  </sql>
  <select id="getApply" resultType="com.aokai.hospital.po.Apply">
    select<include refid="Base_Column_List"/>
    from apply where doctor_id = #{doctorId}
  </select>
</mapper>
