<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aokai.hospital.dao.DoctorMapper">
  <resultMap id="BaseResultMap" type="com.aokai.hospital.po.Doctor">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="fee" jdbcType="INTEGER" property="fee" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="age" jdbcType="TINYINT" property="age" />
    <result column="office_name" jdbcType="VARCHAR" property="officeName" />
    <result column="career" jdbcType="VARCHAR" property="career" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="picpath" jdbcType="VARCHAR" property="picpath" />
  </resultMap>

  <sql id="Base_Column_List">
    username, password, name, fee, sex, age, office_name AS officeName, career, description, picpath
  </sql>
  <select id="checkDoctor" resultType="com.aokai.hospital.po.Doctor">
    select <include refid="Base_Column_List"/>
    from doctor where username = #{username} and password = #{password}
  </select>
  <select id="getDoctorByOfficeName" resultType="com.aokai.hospital.po.Doctor">
   select <include refid="Base_Column_List"/>
   from doctor where office_name = #{officeName}
  </select>
  <select id="searchDoctor" resultType="com.aokai.hospital.po.Doctor">
    select <include refid="Base_Column_List"/>
    from doctor where name like #{docotrName}
  </select>
</mapper>
