<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aokai.hospital.dao.MessageMapper">
  <resultMap id="BaseResultMap" type="com.aokai.hospital.po.Message">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="creatTime" jdbcType="TIMESTAMP" property="creattime" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
</mapper>
