<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aokai.hospital.dao.OfficeMapper">
  <resultMap id="BaseResultMap" type="com.aokai.hospital.po.Office">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="office_name" jdbcType="VARCHAR" property="officeName" />
    <result column="doctor_num" jdbcType="INTEGER" property="doctorNum" />
  </resultMap>
</mapper>