<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aokai.hospital.dao.RecordMapper">
  <resultMap id="BaseResultMap" type="com.aokai.hospital.po.Record">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="patient_id" jdbcType="INTEGER" property="patientId" />
    <result column="patient_name" jdbcType="VARCHAR" property="patientName" />
    <result column="workday_id" jdbcType="INTEGER" property="workdayId" />
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="work_time" jdbcType="VARCHAR" property="workTime" />
    <result column="period" jdbcType="VARCHAR" property="period" />
    <result column="record_time" jdbcType="TIMESTAMP" property="recordTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <select id="getRecordByPatientId" resultType="com.aokai.hospital.po.Record">
    select * from record where patient_id = #{patientId}
  </select>

  <select id="getRecordByDoctorId" resultType="com.aokai.hospital.po.Record">
        select * from record where doctor_id = #{doctorId}
  </select>
</mapper>
