<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aokai.hospital.dao.RoomMapper">
  <resultMap id="BaseResultMap" type="com.aokai.hospital.po.Room">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="officename" jdbcType="CHAR" property="officename" />
    <result column="roomname" jdbcType="CHAR" property="roomname" />
    <result column="doctornum" jdbcType="INTEGER" property="doctornum" />
  </resultMap>
</mapper>
